.testimonial{
    width: 250px;
    aspect-ratio: 250/300;
    background-color: rgb(23, 27, 34);
}


.good{
    color:rgb(128, 175, 78)
}

.great{
    color:rgb(0, 234, 0)
}

.excellent{
    color:rgb(0, 233, 233)
}