.testimonial{
    width: 300px;
    aspect-ratio: 300/250;
    background-color: rgba(23, 27, 34,0.4);
}


.good{
    color:rgb(128, 175, 78)
}

.great{
    color:rgb(0, 234, 0)
}

.excellent{
    color:rgb(0, 233, 233)
}